<template>
  <div class="hello">
    <input v-model="login" type="text" placeholder="login">
    <input v-model="password" type="password" placeholder="password">
    <button @click="checkingDataLogin()"> sing in</button>
    <div> {{ password }}</div>
    <div> {{ login }}</div>
  </div>
</template>

<script>
import {ref} from "vue";
import router from "../router/router";
import {useCookies} from "vue3-cookies";


export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },

  setup() {
    const login = ref('')
    const password = ref('')
    const { cookies } = useCookies();


    function checkingDataLogin() {
      if ((this.login.toLowerCase() && this.password.toLowerCase()) === 'admin') {
        console.log('hello')
        cookies.set('login', 'true')
        router.push('/table');
      } else {
        alert('data is not correct')
        cookies.set('login', 'false')

      }

    }

    return {
      login, password, checkingDataLogin
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
