<template>
  <table>
    <thead>
    <tr>
      <td><input type="checkbox" name="checkboxAll" class="form-check-input" @change="changeAll()"/></td>
      <td @click="sortBy('number')"> number</td>
      <td @click="sortBy('name')"> name</td>
      <td @click="sortBy('date')"> date</td>
      <td @click="sortBy('status')">status</td>
    </tr>
    </thead>
    <tbody>
    <tr v-for="(info, index) in dataForTable" :key="index">
      <td>
        <input type="checkbox" class="form-check-input" :value="info.number" :checked="info.checked"/>
      </td>
      <td>{{ info.number }}</td>
      <td><input type="text" v-model="dataForTable[index].name"></td>
      <td>{{ info.date }}</td>
      <td>{{ info.status }}</td>
    </tr>
    </tbody>
  </table>
</template>

<script>

import {reactive, ref} from "vue";
import {useCookies} from "vue3-cookies";
import router from "@/router/router";

export default {
  name: 'table',

  setup() {
    let dataForTable = reactive([
      {
        number: 1,
        name: 'hi',
        date: new Date('12/15/2022').toLocaleDateString("en-US"),
        status: true,
        checked: false,
      }, {
        number: 11,
        name: 'hello',
        date: new Date('12/12/2022').toLocaleDateString("en-US"),
        status: false,
        checked: true,
      }, {
        number: 3,
        name: 'u hello people',
        date: new Date('10/12/2022').toLocaleDateString("en-US"),
        status: true,
        checked: false,
      }, {
        number: 12,
        name: 'a how are you?',
        date: new Date('12/02/2022').toLocaleDateString("en-US"),
        status: false,
        checked: false,
      }, {
        number: 2,
        name: ' b where are you from',
        date: new Date('09/12/2022').toLocaleDateString("en-US"),
        status: true,
        checked: true,
      },
    ])
    let oldSortValue = ref('');
    const { cookies } = useCookies();


    function sortBy(sortValue) {
      console.log(sortValue, oldSortValue.value);
      if (sortValue === oldSortValue.value) {
        if (sortValue === 'name') {
          dataForTable.sort((a, b) => b.name.localeCompare(a.name));
        }
        if (sortValue === 'date') {
          dataForTable.sort((a, b) => new Date(b.date) - new Date(a.date));
        }
        dataForTable.sort((a, b) => b[sortValue] - a[sortValue]);
        oldSortValue.value = '';
      } else {
        if (sortValue === 'name') {
          dataForTable.sort((a, b) => a.name.localeCompare(b.name));
        }
        if (sortValue === 'date') {
          dataForTable.sort((a, b) => new Date(a.date) - new Date(b.date));
        }
        dataForTable.sort((a, b) => a[sortValue] - b[sortValue]);
        oldSortValue.value = sortValue;
      }
    }

    function changeAll() {
      const checkedBox = document.getElementsByName('checkboxAll')[0].checked;
      dataForTable.forEach((data) => {
        if (checkedBox) {
          if (!data.checked) {
            data.checked = !data.checked
          }
        } else {
          if (!data.checked) {
            data.checked = !data.checked
          }
          if (data.checked) {
            data.checked = !data.checked
          }
        }


      })
    }

    if (!cookies.get('login')) {
      router.push('/')
    }

    return {dataForTable, sortBy, changeAll}
  }
}
</script>
